* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header,.footer,.awesome {
    background-color: #1f2937;
    color: #F9FAF8;
}

.header .Logo p {
    font-size: 24px;
    color: #F9FAF8;
}

.awesome{
    display: flex;
}
.awesome .left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.awesome .left p, a {
    font-size: 18px;
    color: #E5E7EB;
}

.quote_section {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}

.Author{
    font-size: 24px;
    color: #1f2937;
    font-style:normal;
    font-weight:bold;
}

.action_call, button {
    background-color: #3882F6;
    color: #F9FAF8;
}

